.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid slateblue;
}

.logo{
    width: 200px;
}

.nav-items{
    padding-right: 50px;
}

.nav-items > ul{
    display: flex;
    list-style: none;
    font-size: 20px;
}

.nav-items > ul > li{
    padding: 10px;
}